<%= page 'data-theme' => 'a' do %>
  <%= header 'data-theme' => 'a' do %>
    <h1>Sign in to Partay!</h1>
  <% end %>
  <%= content 'data-theme' => 'a' do %>
    <%= link_to image_tag('/images/sign_in_twitter.png', alt: 'Sign in with Twitter'), '/auth/twitter', rel: 'external' %>
    <%= link_to image_tag('/images/sign_in_facebook.png', alt: 'Sign in with Facebook'), '/auth/facebook', rel: 'external' %>
  <% end %>
<% end %>
