<%= page 'data-theme' => 'a' do %>
  <%= header 'data-theme' => 'a' do %>
    <h1>Sign in to <%= site_title %>!</h1>
  <% end %>
  <%= content 'data-theme' => 'a' do %>
    <ul data-role='listview' data-theme='a'>
      <li><%= link_to "Sign in with Twitter", '/auth/twitter', rel: 'external' %></li>
      <li><%= link_to "Sign in with Force.com", '/auth/salesforce', rel: 'external' %></li>
    </ul>
  <% end %>
<% end %>
