<div style='font-family: Arial, sans-serif; font-size: 14px;'>
<p>Someone has submitted a new event to the Party tracker. Please review
the content below and approve it if everything looks good!</p>

<h1><%= @event.name %></h1>

<h3>Details</h3>

<ul>
  <li><b>Start Time:</b> <%= @event.start_time.to_s(:db) %></li>
  <li><b>End Time:</b> <%= @event.end_time.to_s(:db) %></li>
  <li><b>Location:</b> <%= @event.location_name %></li>
  <li><b>Address:</b> <%= @event.address %></li>  
  <li><b>Address 2:</b> <%= @event.address %></li>    
  <li><b>City:</b> <%= @event.city %></li>  
  <li><b>State:</b> <%= @event.state %></li>    
  <li><b>Zipcode:</b> <%= @event.zipcode %></li>  
</ul>

<h3>Description</h3>

<div><%= @event.description_html %></div>

<h3>Approval</h3>

<p>Does it look good to you? If so, click the link below to approve it.
It will not be visible to the public until it has been approved.</p>

<p><%= link_to "Approve this Event", approve_event_url(@event, code: @event.code), style: 'background: #381; color: white; padding: 15px; display: block; text-align: center; font-weight: bold; text-decoration: none; font-size: 20px' %></p>
</div>
