<!DOCTYPE html>
<html>
<head>
  <title><%= current_conference.try(:name) || "Party Time" %></title>
  <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
